# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
dict={}
type(dict)

dict

In [2]:
dict1=dict()
type(dict1)

TypeError: 'dict' object is not callable

In [3]:
data={'Alabama':'Montgomery',
     'Arizona':'Phoneix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [4]:
data['Ohio']

'Columbus'

In [5]:
data['Georgia']

'Atlanta'

In [6]:
# Generate a key error if the key is not present in the dictionary
# data['New York']

In [7]:
day={1:'Monday',
    2:'Tuesday',
    4:('Thursday','Friday'),
    5:['Saturday','Sunday']}

### Update elements of a dictionary and add new elements

In [8]:
# Thursday
day[4][0]    #day[key][index]

'Thursday'

In [9]:
# Sunday
day[5][1]

'Sunday'

In [10]:
day[3]='Wednesday'

In [11]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Sunday'],
 3: 'Wednesday'}

In [12]:
# update Saturday to a holiday
day[5][0]='Christmas' # access then assign

In [13]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Christmas', 'Sunday'],
 3: 'Wednesday'}

In [14]:
# update Thursday to holiday
#day[4][0]='holiday'  # can not update a tuple

### `get` and `update` methods
- get use to access a value from dictionary
- update the dictionary with a new value also update the old value

In [15]:
# return wednesday
day.get(3)

'Wednesday'

In [16]:
# monday
day.get(1)

'Monday'

In [17]:
day.get(6) # not generating an error if the key is not present in

In [18]:
#day[6] # generates an error

In [19]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Christmas', 'Sunday'],
 3: 'Wednesday'}

In [20]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoneix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [22]:
data.update({'Kentucky': 'Louisville'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoneix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus'}

In [23]:
data.update({'Louisianna': 'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoneix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisianna': 'Baton Rouge'}

In [24]:
data.update({'Missouri':'Jefferson City',
             'Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoneix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisianna': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

In [25]:
# delete Alabama using del method
del data['Alabama']
data

{'Arizona': 'Phoneix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisianna': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [27]:
# delete Ohio using pop
data.pop('Ohio')

'Columbus'

In [28]:
data

{'Arizona': 'Phoneix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Louisianna': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [29]:
# delete the dictionary
del data

In [30]:
# name error as the dictionary is not present any more
#data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [31]:
data={'Alabama':'Montgomery',
     'Arizona':'Phoneix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [32]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [33]:
data.values()

dict_values(['Montgomery', 'Phoneix', 'Atlanta', 'Frankfort', 'Columbus'])

In [34]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Phoneix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Columbus')])

### Loop through a dictionary for

In [36]:
# unpack the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [37]:
# unpack the dictionary values
for j in data.values():
    print(j)

Montgomery
Phoneix
Atlanta
Frankfort
Columbus

In [40]:
# dictionary items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Phoneix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Columbus')
<class 'tuple'>

In [42]:
# unpack dictionary items
for j,k in data.items():
    print("State: ",j)
    print("Capital: ",k)

State:  Alabama
Capital:  Montgomery
State:  Arizona
Capital:  Phoneix
State:  Georgia
Capital:  Atlanta
State:  Kentucky
Capital:  Frankfort
State:  Ohio
Capital:  Columbus

In [44]:
# dictionary keys to a list
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [45]:
# dictionary values to a list
list(data.values())

['Montgomery', 'Phoneix', 'Atlanta', 'Frankfort', 'Columbus']

### Convert dictionary to lists using `list()` function

### A List in a Dictionary: How to unpack all of the entries?

In [46]:
fav_language={'Jen':['python','ruby'],
             'sarah':['c'],
             'edward':['ruby','java'],
             'phil':['python','java']}

In [47]:
fav_language

{'Jen': ['python', 'ruby'],
 'sarah': ['c'],
 'edward': ['ruby', 'java'],
 'phil': ['python', 'java']}

In [52]:
for name, subjects in fav_language.items():
    print(f"The name is : {name.title()}. The favorite langugaes are: ")
    
    for i in subjects:
        print("\t\t\t\t\t\t",i)

The name is : Jen. The favorite langugaes are:
						 python
						 ruby
The name is : Sarah. The favorite langugaes are:
						 c
The name is : Edward. The favorite langugaes are:
						 ruby
						 java
The name is : Phil. The favorite langugaes are:
						 python
						 java

###  A Dictionary in a Dictionary

In [53]:
user={'est':{
    'first':'albert',
    'last':'einstein',
    'location':'prinston'},
     
     'mcuries':{
         'first':'marie',
         'last':'curies',
         'location':'paris'
     }}

In [54]:
user

{'est': {'first': 'albert', 'last': 'einstein', 'location': 'prinston'},
 'mcuries': {'first': 'marie', 'last': 'curies', 'location': 'paris'}}

In [56]:
# albert
user['est']['first']

'albert'

In [57]:
# paris
user['mcuries']['location']

'paris'

In [61]:
for username, user_info in user.items():
    print("Username:",username)
    #print(user_info)
    full_name=user_info['first']+" " +user_info['last']
    print("full name: ",full_name)
    print("location: ",user_info['location'])

Username: est
full name:  albert einstein
location:  prinston
Username: mcuries
full name:  marie curies
location:  paris